.additions__title-container {
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    margin-bottom: 80px;
  }
}

.additions__wrapper {
  min-width: @mobile;
  width: 87%;
  margin: 0 auto 35px;
  .animation();

  @media (min-width: @tablet-width) {
    min-width: @tablet;
    width: 84%;
    margin-bottom: 76px;
    transition-duration: 0s;
  }

  @media (min-width: @desktop-width) {
    .wrap(@desktop);
    margin-bottom: 86px;
    display: flex;
    justify-content: space-between;
  }
}

.additions__list {
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}
