.additions {
  .wrap(@mobile);
  .m-tb(25; 39);
}

.additions__title {
  .font(n; 400; 24; 24);
  margin: 0;
  padding-bottom: 36px;
}

.additions__item {
  .p-tb(13; 19);
  border-top: 1px solid @white-white-smoke-dark;
}

.additions__item:last-child {
  border-bottom: 1px solid @white-white-smoke-dark;
}

.addition__title {
  .font(n; 400; 16; 16);
  text-transform: uppercase;
  .m-tb(0; 13);
}

.addition__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .m-tb(0; 15);
  .arial();
  .font(n; 400; 14; 14);
}

.addition__buy {
  text-align: center;
  .p-tb(10; 10);
  color: @white;
  background-color: @green-apple;
}
