.example {
  background-color: @white-white-smoke-light;
  .p-tb(27; 25);

  @media (min-width: @tablet-width) {
    background-color: transparent;
    padding-top: 43px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 58px;
  }
}

.example__wrapper {
  .wrap(@mobile);

  @media (min-width: @tablet-width) {
    .wrap(@tablet);
  }

  @media (min-width: @desktop-width) {
    .wrap(@desktop);
  }
}

.example__stats {
  margin-bottom: 42px;
}

.example__title {
  .font(n; 400; 36; 40);
  .zero-mp();
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    margin-bottom: 63px;
  }
}

.example__text {
  .arial();
  .font(n; 400; 14; 18);
  .zero-mp();
}

.stats__number {
  .font(n; 400; 24; 24);
  text-transform: uppercase;
}

.stats__description {
  .arial();
  .font(n; 400; 12; 12);
  text-transform: lowercase;
}

.stats__total-price {
  .font(n; 400; 14; 20);
  text-transform: uppercase;
}
