.footer-location__wrapper {
  position: relative;
  min-width: @mobile;
  width: 87%;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    .wrap(@tablet);
  }

  @media (min-width: @desktop-width) {
    .wrap(@desktop);
  }
}

.address-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .p-tb(28; 20);

  @media (min-width: @tablet-width) {
    padding: 66px 41px 60px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    width: 570px;
    top: 95px;
    left: 0;
    padding-left: 76px;
    background-color: @white;
    z-index: 1;
  }
}

.address-info__title {
  .zero-mp();
  .font(n; 400; 16; 22);
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    .font(n; 400; 20; 25);
  }
}

.address-info__address {
  .arial();
  .font(n; 400; 14; 22);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    .font(n; 400; 16; 20);
    align-items: flex-end;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    align-items: start;
    text-align: left;
    margin-left: 23px;
  }
}

.footer-location__map {
  position: relative;
  height: 362px;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}

.footer-location__map-frame {
  width: 100%;
  height: 100%;
  border: 0;
}

.footer-location__map-pin {
  position: absolute;

  top: calc(50% - 50px);
  left: calc(50% - 27px);
  width: 57px;
  height: 53px;

  @media (min-width: @tablet-width) {
    top: calc(50% - 100px);
    left: calc(50% - 53px);
    width: 113px;
    height: 106px;
  }
}
