.form__list {
  .font(n; 400; 16; 18);
  color: @grey-charcoal;

  @media (min-width: @tablet-width) {
    .font(n; 400; 20; 30);
  }
}

.form__fieldset {
  .zero-mp();
  border: none;
}

.form__button-wrapper {
  min-width: @mobile;
  width: 87%;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    min-width: @tablet;
    width: 84%;
    .p-lr(40; 36);
    display: flex;
    justify-content: start;
  }

  @media (min-width: @desktop-width) {
    .wrap(@desktop);
  }
}

.form__button {
  width: @mobile;
  .font(n; 400; 16; 20);
  margin-bottom: 21px;
  .p-tb(10; 10);
  .animation();

  @media (min-width: @tablet-width) {
    width: 282px;
    .font(n; 400; 20; 20);
    margin-right: 61px;
    margin-bottom: 0;
    .p-tb(16; 16);
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    margin-right: 81px;
  }
}

.form__required {
  width: @mobile;
  .arial();
  .font(n; 400; 14; 16);
  text-align: center;

  @media (min-width: @tablet-width) {
    width: auto;
    display: flex;
    align-items: center;
    font-size: 16px;
  }
}
