.page-header {
  .animation();

  @media (min-width: @tablet-width) {
    .wrap(@tablet);
    width: 85%;
    min-width: @tablet;
    max-width: @desktop;
    display: flex;
    justify-content: space-between;
    .m-tb(42; 62);
  }

  @media (min-width: @desktop-width) {
    .wrap(@desktop);
    flex-direction: row;
    margin-bottom: 32px;
    .m-tb(53; 29);
  }
}
