.page-header__logo {
  border-bottom: 1px solid @white-white-smoke-dark;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.page-header__logo-wrapper {
  .wrap(@mobile);
  height: 72px;
  display: grid;
  grid-template-columns: 34px 1fr 18px;
  align-items: center;
  .p-lr(2; 2);

  @media (min-width: @tablet-width) {
    width: 174px;
    display: flex;
    justify-content: space-between;
  }
}

.page-header__logo-text {
  display: block;
  .center();
}
