.page-footer__bottom {
  .p-tb(39; 22);
  background-color: @white-white-smoke;
}

.page-footer__bottom-wrapper {
  .wrap(@mobile);
  display: flex;
  flex-direction: column;
  align-items: center;
}
