.page-footer__bottom {
  padding-top: 39px;
  background-color: @white-white-smoke;
}

.page-footer__bottom-wrapper {
  .wrap(@mobile);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__bottom-wrapper > div {
  width: @mobile;
  border-bottom: 1px solid @gainsboro-dark;
}

.page-footer__bottom-wrapper > div:last-child {
  border-bottom: none;
}
