.plan {
  .wrap(@mobile);
  .p-tb(27; 42);
}

.plan__title {
  .zero-mp();
  .font(n; 400; 36; 40);
  margin-bottom: 38px;
}

.plan__list {
  .zero-mp();
}

.plan__img-wrapper {
  width: 60px;
  height: 60px;
  background-color: @green-apple;
}

.plan__img {
  display: block;
}

.plan__description {
  .arial();
  .font(n; 400; 14; 18);
}
