.plan {
  margin-bottom: 42px;
  .animation();

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @white-white-smoke-dark;
    padding-bottom: 9px;
    margin-bottom: 43px;
  }

  @media (min-width: @desktop-width) {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 11px;
  }
}

.plan__wrapper {
  min-width: @mobile;
  width: 87%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    min-width: @tablet;
    width: 84%;
  }

  @media (min-width: @desktop-width) {
    .wrap(@desktop);
    margin-bottom: 11px;
  }
}

.plan__title {
  .font(n; 400; 36; 40);
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    .font(n; 400; 60; 60);
    margin-bottom: 32px;
  }
}

.plan__list {
  .zero-mp();
  list-style: none;
  counter-reset: planList;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.plan__item {
  position: relative;
  margin-bottom: 20px;
  min-height: 60px;

  &::before {
    .pseudo();
    width: 60px;
    height: 60px;
    background-color: @green-apple;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
  }

  &--leaf::before {
    background-image: url("../img/icons/leaf.svg");
    background-size: 30px 32px;
  }

  &--tub::before {
    background-image: url("../img/icons/tub.svg");
    background-size: 29px 31px;
  }

  &--eat::before {
    background-image: url("../img/icons/eat.svg");
    background-size: 25px 30px;
  }

  &--alarm::before {
    background-image: url("../img/icons/alarm.svg");
    background-size: 30px 32px;
  }

  @media (min-width: @tablet-width) {
    min-height: 280px;
    width: 324px;
    margin-bottom: 35px;
    .p-tb(40; 57);

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      .pseudo();
      top: 0;
      left: 111px;
      .font(n; 400; 280; 280);
      color: @white-white-smoke;
      counter-increment: planList;
      content: counter(planList);
      z-index: -1;
    }

    &:first-child::after {
      left: 119px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    margin-bottom: 0;
  }
}

.plan__description {
  display: block;
  .arial();
  .font(n; 400; 14; 18);
  margin: 0 0 0 80px;
  padding-top: 2px;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    margin-top: 111px;
    .font(n; 400; 16; 24);
    width: 245px;
  }
}
