.present {
  .wrap(@mobile);
  min-height: 289px;
  padding: 58px 10px 43px 10px;
  color: @white;
  background-color: @green-apple;
  background-image: url("../img/present.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.present__img {
  margin-bottom: 20px;
}

.present__title {
  margin: 0;
  text-align: center;
  .arial();
  .font(n; 400; 16; 20);
}
