.products {
  margin: 0 auto 25px;

  @media (min-width: @tablet-width) {
    min-width: @tablet;
    width: 84%;
    margin: 0 auto 9px;
  }

  @media (min-width: @desktop-width) {
    .wrap(@desktop);
    margin-bottom: 17px;
  }
}

.products__list {
  min-width: @mobile;
  width: 87%;
  margin: 0 auto 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: @tablet-width) {
    min-width: auto;
    width: auto;
    margin: 0;
    justify-content: space-between;
  }
}
