.programs {
  margin-bottom: 27px;
  .animation();

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 41px;
  }
}

.programs__wrapper {
  .wrap(@mobile);

  @media (min-width: @tablet-width) {
    .wrap(@tablet);
  }

  @media (min-width: @desktop-width) {
    .wrap(@desktop);
  }
}

.programs__list {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.programs__item {
  position: relative;
  background-color: @white-white-smoke;
  height: 266px;
  margin-bottom: 20px;
  padding: 30px 20px 22px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    height: 372px;
    padding: 77px 279px 57px 52px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    height: 374px;
    margin-right: 80px;
    padding-right: 51px;
  }
}

.programs__item:last-child {
  margin-right: 0;
}

.programs__item-title {
  .font(n; 400; 24; 37);
  text-transform: uppercase;
  margin: 0 0 29px 71px;
  .animation();

  @media (min-width: @tablet-width) {
    font-size: 36px;
    margin: 0 0 24px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 73px 162px;
  }
}

.programs__item::before {
  .pseudo();
  background-repeat: no-repeat;
  background-position: 0 0;
  .animation();
}

.programs__item--slim::before {
  top: 21px;
  left: 22px;
  width: 50px;
  height: 53px;
  background-image: url("../img/icons/cat-slim.svg");
  background-size: contain;

  @media (min-width: @tablet-width) {
    top: 92px;
    left: auto;
    right: 62px;
    width: 200px;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    top: 47px;
    left: 52px;
    right: auto;
    width: 100px;
    height: 100px;
  }
}

.programs__item--pro::before {
  top: 24px;
  left: 13px;
  width: 67px;
  height: 50px;
  background-image: url("../img/icons/cat-pro.svg");
  background-size: contain;

  @media (min-width: @tablet-width) {
    top: 91px;
    left: auto;
    right: 28px;
    width: 268px;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    top: 47px;
    left: 33px;
    right: auto;
    width: 134px;
    height: 100px;
  }
}

.programs__item-description {
  .arial();
  .font(n; 400; 14; 18);
  .m-tb(0; 19);
  padding-bottom: 23px;
  border-bottom: 1px solid @white-gainsboro-dark;

  & .tablet {
    display: none;
  }

  @media (min-width: @tablet-width) {
    .font(n; 400; 16; 24);
    margin-bottom: 48px;
    border: none;

    & .tablet {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 23px;

    & .tablet {
      display: none;
    }
  }
}

.program__item-link {
  position: relative;
  .font(n; 400; 16; 16);
  text-transform: uppercase;
  width: max-content;
  max-width: calc(100% - 47px);
  text-align: right;

  &::after {
    .pseudo();
    top: calc(50% - 6px);
    left: calc(100% + 17px);
    width: 32px;
    height: 12px;
    background-image: url("../img/icons/arrow.svg");
    background-size: 24px 12px;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &:hover::after,
  &:focus::after {
    background-image: url("../img/icons/arrow_long.svg");
    background-size: 32px 12px;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    .font(n; 400; 20; 30);
    border: none;
    padding-top: 0;
  }
}
