.programs__wrapper {
  .wrap(@mobile);
}

.programs__item {
  background-color: @white-white-smoke;
  height: 266px;
}

.programs__item-title {
  .font(n; 400; 24; 37);
  text-transform: uppercase;
}

.programs__item-description {
  .arial();
}

.program__item-link {
  .font(n; 400; 16; 16);
}
