.promo {
  min-height: 480px;
  margin-bottom: 22px;
  color: @white;
  background-image:
    linear-gradient(to right, @green-apple calc(50% - 200px), @green-apple-alpha-050 calc(50% - 160px), @green-apple-alpha-050 calc(50% + 160px), @green-apple calc(50% + 200px)),
    url("../img/promo-background-mobile@1x.jpg"),
    linear-gradient(@green-apple, @green-apple);
  background-position:
    0 0,
    calc(50% - 35px) top,
    0 0;
  background-size: auto 302px;
  background-repeat: no-repeat;
  .animation();

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient(to right, @green-apple calc(50% - 200px), @green-apple-alpha-050 calc(50% - 160px), @green-apple-alpha-050 calc(50% + 160px), @green-apple calc(50% + 200px)),
      url("../img/promo-background-mobile@2x.jpg"),
      linear-gradient(@green-apple, @green-apple);
  }

  @media (min-width: @tablet-width) {
    min-height: 690px;
    color: @black;
    background-image: none;
  }

  @media (min-width: @desktop-width) {
    min-height: 590px;
    margin-bottom: 82px;
  }
}

.promo__wrapper {
  position: relative;
  .wrap(@mobile);
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    .wrap(@tablet);
    padding-left: 87px;
  }

  @media (min-width: @desktop-width) {
    .wrap(@desktop);
    padding-left: 80px;
  }
}

.promo__title {
  .font(n; 400; 36; 36);
  text-align: center;
  .m-tb(0; 25);
  .animation();

  @media (min-width: @tablet-width) {
    width: auto;
    .font(n; 400; 60; 60);
    text-align: left;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 82px;
  }
}

.promo__slogan {
  .m-tb(0; 29);
  .font(n; 400; 14; 14);
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: auto;
    text-align: left;
    margin-bottom: 49px;
    .font(n; 400; 20; 20);
  }
}

.promo__image {
  width: 280px;
  height: 270px;
  display: block;
  .center();
  .animation();

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 201px;
    left: 0;
    width: @tablet;
    height: 490px;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    width: @desktop;
    top: 0;
    left: 113px;
  }
}

.promo__link {
  text-align: center;
  .p-tb(11; 11);

  @media (min-width: @tablet-width) {
    width: 244px;
    .p-tb(14; 14);
  }
}
