.promo {
  height: 480px;
  color: @white;

  @media (min-width: @tablet-width) {
    color: @black;
  }
}

.promo__wrapper {
  height: 302px;
  background-color: @green-apple;
  background-image: linear-gradient(@green-apple-alpha-050, @green-apple-alpha-050), url("../../img/promo-background.jpg");
  background-repeat: no-repeat;
  background-position: center top;

  @media (min-width: @tablet-width) {
    .wrap(@tablet);
    height: 200px;
    background-color: transparent;
    background-image: none;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    .wrap(@desktop);
  }
}

.promo__title {
  .wrap(@mobile);
  .font(n; 400; 36; 36);
  text-align: center;
  margin-bottom: 25px;
  padding-top: 26px;

  @media (min-width: @tablet-width) {
    width: auto;
    text-align: left;
    margin-bottom: 41px;
  }
}

.promo__slogan {
  .wrap(@mobile);
  .font(n; 400; 14; 14);
  text-align: center;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    width: auto;
    text-align: left;
    margin-bottom: 20px;
  }
}

.promo__image {
  .wrap(@mobile);
  width: 280px;
  height: 270px;
  display: block;
  .center();
}

.promo__link {
  background-color: @green-apple;
  .wrap(@mobile);
  text-align: center;
  .p-tb(11; 11);
  color: @white;

  @media (min-width: @tablet-width) {
    width: 244px;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
