.promo {
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: @white;
}

.promo__wrapper {
  height: 302px;
  background-color: @green-apple;
  background-image: linear-gradient(@green-apple-alpha-050, @green-apple-alpha-050), url("../../img/promo-background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.promo__title {
  .wrap(@mobile);
  .font(n; 400; 36; 36);
  text-align: center;
  .m-tb(27; 25);
}

.promo__slogan {
  .wrap(@mobile);
  .font(n; 400; 14; 14);
  text-align: center;
  margin-bottom: 29px;
}

.promo__image {
  .wrap(@mobile);
  width: 280px;
  height: 270px;
  display: block;
  .center();
}

.promo__link {
  background-color: @green-apple;
  .wrap(@mobile);
  text-align: center;
  .p-tb(11; 11);
}
