.questionnaire {
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 82px;
  }
}

.questionnaire__title {
  min-width: @mobile;
  width: 87%;
  margin: 0 auto 37px;
  .font(n; 400; 14; 18);
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    min-width: @tablet;
    width: 84%;
    margin-bottom: 66px;
    .p-lr(40; 36);
    .font(n; 400; 20; 30);
  }

  @media (min-width: @desktop-width) {
    width: @desktop;
    padding: 0;
  }
}
