.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__link {
  display: block;
  padding: 22px 18px;
}

.social__item img {
  display: block;
}

.social__link--vkontakte img {
  width: 23px;
  height: 16px;
}

.social__link--instagram img {
  width: 16px;
  height: 16px;
}

.social__link--facebook img {
  width: 22px;
  height: 22px;
}
