// colors

@white: #ffffff;
@white-white-smoke: #f2f2f2;
@white-white-smoke-light: #EAEAEA;
@white-white-smoke-dark: #ebebeb;

@grey-very-light-grey: #cdcdcd;
@grey-dim-gray: #666666;
@grey-charcoal: #444444;
@grey-nero: #222222;

@green-apple: #68B738;
@green-apple-alpha-050: rgba(104, 183, 56, 0.85);

@green-limeade: #5eaa2f;

@red-mona-lisa: #ff8282;

@black: #000000;

//  width

@mobile: 280px;
@tablet: 708px;
@desktop: 1220px;
